function mkcd() {
  mkdir -p "$1" && cd "$1";
}

alias gst="git status -sb"

# Heroku
function gph() {
  git push -f heroku `current_branch`:master
}

function gphb() {
  git push -f heroku-beta `current_branch`:master
}

function gphs() {
  git push -f heroku-staging `current_branch`:master
}

alias he="heroku"
alias hlogs="heroku logs"
alias hreboot="heroku ps:restart 1"
alias hrun="heroku run"

alias serv='python -m SimpleHTTPServer'

# GIT
alias git='hub'
alias gc!='git commit --amend --reuse-message HEAD'
alias gca!='git commit -a --amend --reuse-message HEAD'
alias ga="git add"
alias ggpull='git pull --ff-only --rebase origin "$(git-branch-current 2> /dev/null)"'
alias ggpush='git push origin "$(git-branch-current 2> /dev/null)"'
alias gcm="git checkout master"

alias tre="tree -L 2"
