[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	ignorecase = false
[user]
	name = Arnaud Rinquin
	email = rinquin.arnaud@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEylDEocVQhDmS5R/fIit8jNrOScCaty9ModJq62wjn7
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
 	rma = !sh -c \"git diff -z --name-only --diff-filter=D | xargs -0 git rm\"
	undo-commit = reset --soft @^
	cpr = pull-request -c
	clrb = !sh -c \"git branch --merged | grep -v '*' | grep -v master | grep -v dev | xargs -n 1 git branch -d\"
	rd = !git fetch origin develop:develop && git rebase origin/develop
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[push]
	default = matching
	autoSetupRemote = true
[pull]
	rebase = true
	ff = only
[merge]
	conflictstyle = diff3
[rebase]
	autoStash = true
	updateRefs = true
	autosquash = true
[commit]
	#gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
