[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	name = Arnaud Rinquin
	email = rinquin.arnaud@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
 	rma = !sh -c \"git diff -z --name-only --diff-filter=D | xargs -0 git rm\"
	undo-commit = reset --soft @^
	pr = pull-request
	clrb = !sh -c \"git branch --merged | grep -v '*' | grep -v master | grep -v dev | xargs -n 1 git branch -d\"
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[push]
	default = matching
