'.js.jsx.source':
  'react functional component':
    'prefix': 'freact'
    'body': """
    import React from 'react'

    export function ${1:ComponentName}({ ${2:prop} }) {
      return ${1:null}
    }
    """
  'react connected component':
    'prefix': 'creact'
    'body': """
    import React from 'react'
    import { connect } from 'react-redux'

    export function ${1:ComponentName}({ ${2:prop} }) {
      return ${1:null}
    }

    export default connect(state => ({

    }))(${1:ComponentName})
    """
